/* HeroesComponent's private CSS styles */
.heroes {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  list-style-type: none;
  padding: 0;
}

.heroes li {
  flex: 0 0 calc(33.3333% - 20px);
  position: relative;
  cursor: pointer;
  background-color: #f1f1f1;
  padding: 15px;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.heroes li:hover {
  background-color: #e0e0e0;
  transform: translateY(-5px);
}

.heroes a {
  color: #333;
  text-decoration: none;
  display: block;
  width: 100%;
}

.heroes a:hover {
  color: #607D8B;
}

.heroes .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 8px 10px 5px 10px;
  background-color: cadetblue;
  line-height: 1em;
  border-radius: 4px;
}

button {
  margin-left: 20px;
  margin-bottom: 20px;
  background-color: cadetblue;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Arial', sans-serif;
  color: #fff;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #5f676b;
  width: 80px;
}

button.delete {
  background-color: #d32f2f;
  color: #fff;
  margin-left: 10px;
}

/* Responsive styles for smaller screens */
@media (max-width: 776px) {
  .heroes li {
    flex: 0 0 calc(50% - 20px);
  }
}
