/* HeroSearch private styles */

/* Style for the search component container */
#search-component {
  text-align: center;
}

/* Style for the search box input */
#search-box {
  margin: 10px auto; /* Margen superior e inferior de 10px, centrando horizontalmente */
  width: 200px;
  height: 20px;
  padding: 5px;
  transition: transform 0.3s ease; /* Añadida la propiedad de transición a transform */
}

/* Hover effect for the search box */
#search-box:hover {
  transform: scale(1.5); /* Hace más grande el cuadro de búsqueda al pasar el mouse sobre él */
}

/* Style for the overall search result list */
ul.search-result {
  margin: 0;
  padding: 0;
  max-height: 200px;
  overflow-y: auto;
  list-style-type: none;
}

/* Style for each search result item */
.search-result li {
  border: 1px solid gray;
  width: 200px;
  padding: 10px;
  background-color: white;
  cursor: pointer;
  margin-bottom: 5px; /* Agregado para espacio entre elementos */
}

/* Hover effect for search result items */
.search-result li:hover {
  background-color: #3f96ed;
  color: white;
}

/* Style for links within search result items */
.search-result li a {
  color: #888;
  display: block;
  text-decoration: none;
}

/* Hover effect for links within search result items */
.search-result li a:hover,
.search-result li a:active {
  color: white;
}
